@model IEnumerable<JobPortal.DataAccessLayer.ViewModel.JobView.JobViewModel>
@{
    Layout = "~/Views/Shared/_LayoutJobSeeker.cshtml";
}
<div class = "container-fluid card-clr mt-4 shadow-sm p-3 mb-5 bg-white rounded">
     <table class = "table">
         <thead class = "action-clr text-light py-2">
            <tr>
                <th>Company Name</th>
                <th>Due Date</th>
                <th>Hr-Email</th>
                <th>Salary</th>
                <th>Job Details</th>
               
            </tr>
         </thead>
         <tbody>
             @foreach(var job in Model)
             {
                <tr>
                    <td>@job.CompanyName</td>
                    <td>@job.LastDateOfApplication</td>
                    
                    <td>@job.HREmail</td>
                    <td>@job.Salary</td>
                    <td><i>@Html.ActionLink("","GetJobById","Job", new {id = @job.Id},new {@class = "fa-solid fa-link"})</i></td>
                    
                </tr>
             }

             
         </tbody>
     </table>
</div>
